footer{
	width:100%;
	padding-bottom:10px;
	h6{
		text-align: center;
		color: #757575;
		font-size: 12px;
		a{
			color: #757575;
			text-decoration: underline;
		}
		a:link, a:visited{
			color: #757575;
		    text-decoration: underline;
		    cursor: auto;
		}
	}
}