header{
	width:100%;
	position:fixed;
	z-index:999;
	&:hover nav>.hide-menu-box{
		margin-top: 0;
	}
	nav{
		width: 100%;
		.hide-menu-box{
			margin-top:-35px;
			height:41px;
			border-bottom:solid 6px $orange;
			width:100%;
			background-color:$greyd4;
			@include traOpenNav(0.3s);
		}
		.show-menu-box{
			width: 100%;
			.logo{
				&:hover{
					opacity: 0.7;
				}
				position:absolute;
				right:10px;
				opacity: 0.1;
				display: inline-block;
				.logotyp{
					h2{
						@include fontLogo;
					}
				}
			}
			ul{
				text-align: center;
				background-color:rgba(255,255,255, 0.5);
				li{
					position:relative;
					border-bottom-right-radius:10px;
					border-bottom-left-radius:10px;
					display: inline-block;
					cursor: pointer;
					padding:10px;
					@include traOpenNav(0.3s);
					&:hover{
						background-color:#eeeeee;
					}
					&.active{
						background-color:$orange;
						color:#fff;
					}
					i{
						font-size: 20px;
					}
					.info-ico{
					    position: absolute;
					    bottom: 0;
					    font-size: 12px;
					    background-color: red;
					    color: #fff;
					    margin: 0;
					    /* height: 15px; */
					    line-height: 15px;
					    padding: 2px;
					    font-weight: bold;
					    border-radius: 4px;
					    right: 3px;
					}
				}
			}
		}
	}
}